---
import { Image } from 'astro:assets';
const { imgName, title } = Astro.props as { imgName: keyof typeof images; title: string };

import HeaderCategorias from '../assets/imgHeaders/HeaderCategorias.jpg';
import HeaderInscripcion from '../assets/imgHeaders/HeaderInscripcion.jpg';
import HeaderNormativa from '../assets/imgHeaders/HeaderNormativa.jpg';
import HeaderUbicaciones from '../assets/imgHeaders/HeaderUbicaciones.jpg';
import HeaderResultados from '../assets/imgHeaders/HeaderResultados.jpg';

const images = {
  HeaderCategorias,
  HeaderInscripcion,
  HeaderNormativa,
  HeaderUbicaciones,
  HeaderResultados
};

const mainImage = images[imgName];
---

<div class="header-image-container w-[100%] h-[60vh] pt-20" style="margin-top: -80px;">
  <Image src={mainImage} alt={title} class="header-image" loading="eager" />
  <div class="header-content">
    <div class="flex justify-center mb-4">
      <h1 class="text-4xl text-center font-extrabold mt-10 w-[80%] md:text-5xl md:w-[90%]">
        {title}
      </h1>
    </div>
  </div>
</div>

<style>

  .header-content {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 100%;
  }
</style>
