---
import BaseHead from "../components/BaseHead.astro";
import VideoHeader from "../components/VideoHeader.astro";
import StickyMenu from "../components/StickyMenu.astro";

const { title, description } = Astro.props;
---

<html lang="es">
  <BaseHead title={title} description={description} />

  <body>
    <StickyMenu class="stiky"/>
    <VideoHeader
      src="/videoTrail2024.mp4"
      poster="/frameTrail2024.png"
      title="Trail Valle de Arbas 2025"
    />
    <main>Adiós</main>
    <footer class="mt-5000">
      <p>Gracias por visitar</p>
    </footer>
  </body>
</html>

<style>
  .stiky {
    position: sticky;
    top: 0;
    z-index: 50;
  }
</style>