---
import BaseHead from "../components/BaseHead.astro";
import VideoHeader from "../components/VideoHeader.astro";

const { title, description } = Astro.props;
---

<html lang="es">
  <BaseHead title={title} description={description} />

  <body>
    <VideoHeader
      src="/videoTrail2024.mp4"
      poster="/frameTrail2024.png"
      title="Trail Valle de Arbas 2025"
      description="Inscríbete y disfruta de la aventura."
    />
    <main>Adiós</main>
    <footer>
      <p>Gracias por visitar</p>
    </footer>
  </body>
</html>
